/**
 * @name gamesense theme
 * @version 1.3
 * @description Fixed gamesense theme
 * @author Xyhlo#2379
 * @socials This is my instagram be nice and leave a like or a comment: maxyiiiss
 * @fix Fixed broken elemements and updated most of the code if you find issues, do pull requests and I'll review them.
*/

@import url('https://xhylo.github.io/Gamesense/GamesenseSC.theme.css');

/*-------------------------------*/
/* gamesense theme by Xyhlo#2379 */
/* 	     version:            */
/*	       1.3	         */
/*-------------------------------*/

:root{
    --title-gradient:linear-gradient(to right,#37b1da ,#c948cd ,#cce335, #37b1da);
    --primary-color:#75a00d;
    --background-secondary: #0a0a0a;
    --outline-color:#0a0a0a;
    --outline-lightcolor:#303030;
    --app-color:#0b0b0b;
    --channels-color:#111;
    --channeltextarea-background: #000;
    --channels-darker:#0c0c0c;
    --channels-selected:#191919;
    --channels-text-selected:#9fca2b;
    --chat-color:#0b0b0b;
    --mention-color:#1f1f1f;
    --scrollbar-bg:#202020;
    --scrollbar-thumb:#414141;
    --text-input:#191919;
    --dropdown-color:#232323;
    --link-color:#96c83c;
    --channel-radius:5px;
    --text-color:#cbcbcb;
    --text-darker:#b0b0b0;
    --font:'Verdana',Helvetica,Arial,sans-serif;
    --important-notification-l:#f84747;
    --important-notification:#d12020;
    
}
